ul > h3 { 
    display: flex;
    width: 100px;
    border: 1px solid black;
    padding: 5px 10px 5px 15px;
    margin-left: 56px;
    margin-right: 150px;
    border-radius: 8px;
    font-weight: normal;
}

.backlog {
    width: 80px; 
    padding-left: 20px;
    font-size: 1.5rem;
    background-color: rgb(227,227,227);
    border-color: rgb(227,227,227);
    color: rgb(110,110,110);
}

.in-process { 
    width: 120px;
    font-size: 1.5rem;
    background-color: rgb(214,231,255);
    border-color: rgb(214,231,255);
    color: rgb(10,139,241);
}

.done { 
    width: 70px; 
    font-size: 1.5rem;
    background-color: rgb(215,249,224);
    border-color: rgb(215,249,224);
    color: rgb(102,181,123);
}

.basket { 
    width: 90px; 
    font-size: 1.5rem;
    background-color: rgb(251,227,227);
    border-color: rgb(251,227,227);
    color: rgb(200,97,106);
}
